---
layout: default
title: 'The man, the myth, the legend. Lofty Brooking.'
---

<header>
	<div class="container green">
		<div class="column">
			<div>
				<h1>
					Lofty Brooking
				</h1>
				<p>
					The man, the myth, the legend.<br>
				  <span class="dates">Jan 17, 1934 - May 19, 2021</span>
				</p>
				
				<hr>
				
				<p>
				  Everything you need to know about Lofty's funeral is below.
				</p>
				
				<hr>
				
				<p>
				  Google Maps for locations can be found by clicking on the addresses.
				</p>
			</div>
		</div>
		<div class="column img-container bordered-img">
			<img src="{{ site.baseurl }}/images/nana-and-papa.jpg" alt="Sheep" />
		</div>
	</div>
</header>

<div class="wrapper">
  <div class="container white details">
  	<ul class="thirds">
  		<li>
  			<div class="image icon-container">{% include icons/site.html icon="viewings" %}</div>
  			<h3 class="editable">
  				Viewings
  			</h3>
  			<p class="editable">
  				If you would like to come and farewell the chief before his funeral, you can come to his whare.<br /><br />
  				<a href="https://goo.gl/maps/dV2BP4egqsJSVUaTA" target="_blank" alt="Google Maps">
  				  <strong>9 Enderby Drive,<br />Te Atatu Peninsula,<br />Auckland.</strong>
  				</a>
  			</p>
  		</li>
  
  		<li>
  			<div class="image icon-container">{% include icons/site.html icon="funeral" %}</div>
  			<h3 class="editable">
  				Funeral service
  			</h3>
  			<p class="editable">
  				The chief's funeral will be held at:<br /><br />
  				<a href="https://goo.gl/maps/fYCZRWMitCfyF1cY9" target="_blank" alt="Te Atatu Congregational Church">
  				  <strong>Te Atatu<br />Congregational Church</strong><br />(136 Te Atatu Road)<strong>
  				</a>  
  				<br /><br />Mon 24 May, 2021<br /><strong>@11:00am GMT+12</strong></strong>
  			</p>
  		</li>
  
  		<li>
  			<div class="image icon-container">{% include icons/site.html icon="livestream" %}</div>
  			<h3 class="editable">
  				Live stream
  			</h3>
  			<p class="editable">
  				We understand not everyone can make it to the chief's farewell, so we will setup a live stream of the funeral service for you.<br /><br /><strong>Stay tuned here for a link for the Monday service!</strong>
  			</p>
  		</li>
  	</ul>
  </div>
</div>

<div class="wrapper">
  <div class="container green">
    <ul id="lightSlider">
      <li>
		    <img src="{{ site.baseurl }}/images/nana-and-papa.jpg" />
	    </li>
      <li>
		    <img src="{{ site.baseurl }}/images/nana-and-papa.jpg" />
	    </li>
      <li>
		    <img src="{{ site.baseurl }}/images/nana-and-papa.jpg" />
	    </li>
   </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#lightSlider").lightSlider({
      item: 1,
      loop: true,
      speed: 400,
      pause: 2000
    }); 
  });
</script>
