---
layout: default
title: 'The man, the myth, the legend. Lofty Brooking.'
---

<header>
	<div class="container green">
		<div class="column">
			<div>
				<h1 class="editable">
					Lofty Brooking
				</h1>
				<p class="editable">
					The man, the myth, the legend.
				</p>
				<p class="editable dates">
					Jan 17, 1934 - May 19, 2021
				</p>
			</div>
		</div>
		<div class="column img-container bordered-img">
			<img src="{{ site.baseurl }}/images/nana-and-papa.jpg" alt="Sheep" />
		</div>
	</div>
</header>

<div class="container white">
	<ul class="thirds">
		<li>
			<div class="image icon-container">{% include icons/site.html icon="viewings" %}</div>
			<h3 class="editable">
				Viewings
			</h3>
			<p class="editable">
				If you would like to come and farewell the chief before his funeral, you can come to his whare.<br /><br /><strong>9 Enderby Drive,<br />Te Atatu Peninsula,<br />Auckland.</strong>
			</p>
		</li>

		<li>
			<div class="image icon-container">{% include icons/site.html icon="funeral" %}</div>
			<h3 class="editable">
				Funeral service
			</h3>
			<p class="editable">
				The chief's funeral will be held at:<br /><br /><strong>Te Atatu<br />Congregational Church</strong><br />(136 Te Atatu Road)<strong><br /><br />Mon 24 May, 2021<br /><strong>@11:00am GMT+12</strong></strong>
			</p>
		</li>

		<li>
			<div class="image icon-container">{% include icons/site.html icon="livestream" %}</div>
			<h3 class="editable">
				Live stream
			</h3>
			<p class="editable">
				We understand not everyone can make it to the chief's farewell, so we will setup a live stream of the funeral service for you.<br /><br /><strong>Stay tuned here for a link for the Monday service!</strong>
			</p>
		</li>
	</ul>
</div>

<div class="container green">
	<div class="columns">
		<div>
			
		</div>
		<div>
			<section class="regular slider">
			  <div>
			    <img src="{{ site.baseurl }}/images/nana-and-papa.jpg" />
			  </div>
			  <div>
			    <img src="{{ site.baseurl }}/images/nana-and-papa.jpg" />
			  </div>
			  <div>
			    <img src="{{ site.baseurl }}/images/nana-and-papa.jpg" />
			  </div>
		  </section>
    <div>
		</div>
	</div>
</div>
